@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --background:#fd3e58;
    --bg2:#18315b;
    --highlight1:#c5e46e;
    --highlight2: #00a1e2;
}
body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto',sans-serif;
    background-color: var(--background);
    width:100%;
    height:100vh;
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-container{
    background-color: var(--bg2);
    width:90%;
    height:90vh;
    margin:20px;
    border:2px solid #fff;
    border-radius: 20px;
}
.header-container{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    margin-top:10px;
}
.logo-container{
    margin:0px 10px;
}
.logo-container a{
    text-decoration: none;
    color:#fff;
}
.logo-container span{
    font-weight: 600;
    color:var(--background)
}
.header-icons-container{
    margin:0px 10px;
}
.icons-container{
    display:flex;
    align-items:center;
    margin-block: 0;
    padding-inline: unset;
}
.nav-icon-container{
    list-style: none;
}
.nav-icon-container a{
    color: #fff;
    text-decoration: none;
    padding:10px 20px;
    display:block;
}
.nav-icon-container a:hover{
    border: 2px solid #4c476f;
    background-color: #4c476f;
    border-radius:20px;
    color:var(--background);
}
.body-content{
    display:flex;
}
.social-icons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom:30px;
}
.social-icons{
    padding:10px 20px 0px;
}
.social-icons li{
    list-style: none;
    padding:5px;
}
.social-icons img{
    width:24px;
    height:24px;
    border-radius: 50%;
}
.social-vertical-line{
    height: 100px;
    width: 3px;
    background-color: #fff;
}
.email-container{
    position: absolute;
    bottom: 30px;
    right:70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.email-container span{
    color:#fff;
    writing-mode: vertical-rl;
   transform:rotate(180deg);
   margin-bottom: 20px;
    font-size: 12px;
}
