@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --background:#fd3e58;
    --bg2:#18315b;
    --highlight1:#c5e46e;
    --highlight2: #00a1e2;
}
body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto',sans-serif;
    background-color: var(--background);
    width:100%;
    height:100vh;
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-container{
    background-color: var(--bg2);
    width:90%;
    height:90vh;
    margin:20px;
    border:2px solid #fff;
    border-radius: 20px;
}
.header-container{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    margin-top:10px;
}
.logo-container{
    margin:0px 10px;
}
.logo-container a{
    text-decoration: none;
    color:#fff;
}
.logo-container span{
    font-weight: 600;
    color:var(--background)
}
.header-icons-container{
    margin:0px 10px;
}
.icons-container{
    display:flex;
    align-items:center;
    margin-block: 0;
    padding-inline: unset;
}
.nav-icon-container{
    list-style: none;
}
.nav-icon-container a{
    color: #fff;
    text-decoration: none;
    padding:10px 20px;
    display:block;
}
.nav-icon-container a:hover{
    border: 2px solid #4c476f;
    background-color: #4c476f;
    border-radius:20px;
    color:var(--background);
}
.body-content{
    display:flex;
    height:90%;
    justify-content: space-between;
}
.social-icons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.social-icons{
    padding:10px 20px 0px;
}
.social-icons li{
    list-style: none;
    padding:5px;
}
.social-icons img{
    width:24px;
    height:24px;
    border-radius: 50%;
}
.social-vertical-line{
    height: 100px;
    width: 3px;
    background-color: #fff;
}
.email-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
    width:50px;
}
.email-container span{
    color:#fff;
    writing-mode: vertical-rl;
   transform:rotate(180deg);
   margin-bottom: 20px;
    font-size: 12px;
}
.middle-content-container{
    display:flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.middle-content-container .image-container img{
    width:300px;
}
.info-container h5{
    color:#fffa;
    margin:10px;    
    letter-spacing: 1.4px;
}
.info-container h3{
    color:#fffa;
    margin:10px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.info-container h1{
    color:#fff;
    margin:10px;
    letter-spacing: 1.4px;
}

.info-container h1 span{
    color: var(--background);
}

.btns-container .btn{
    width:90px;
    height:40px;
    margin:10px;
    border-radius: 10px;
    color:#fff;
    cursor: pointer;
    opacity: 0.7;
}

.btns-container .resume-btn{
    background-color: var(--background);
    border:1px solid var(--background);    
}

.btns-container .contact-btn{
    background-color: #294673;
    border:1px solid #294673;
}

.btns-container .resume-btn:hover{
    background-color: var(--background);
    border:1px solid var(--background);
    opacity: 1;
    color:#fff
}

.btns-container .contact-btn:hover{
    background-color: #294673;
    border:1px solid #294673;
    opacity: 1;
    color:#fff;
}