@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --background:#70b5d6;
    --bg2:#18315b;
}
body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto',sans-serif !important;
    background-color: #fff !important;
    width:100%;
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x:hidden !important;
}
.page-container{
    background-color: var(--bg2);
    width:100%;
}
.header-container{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    box-shadow: 0px -10px 30px var(--background);
    background-color: var(--bg2);
    position: fixed;
    z-index:101;
}
.logo-container{
    margin:0px 10px;
}
.logo-container a{
    text-decoration: none;
    color:#fff;
}
.logo-container span{
    font-weight: 600;
    color:var(--background)
}
.header-icons-container{
    margin:0px 10px;
}
.icons-container{
    display:flex;
    align-items:center;
    margin-block: 0;
    padding-inline: unset;
}
.nav-icon-container{
    list-style: none;
}
.nav-icon-container a{
    color: #fff;
    text-decoration: none;
    padding:20px 30px;
    display:block;
}
.nav-icon-container a:hover{
    background-color: #fff;
    color:var(--background);
}
.body-content{
    display:flex;
    height:100%;
    justify-content: space-between;
    margin-top:60px;
}
.social-icons-container{
    margin-bottom: 5px;
}
.social-icons{
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: start;
}
.social-icons li{
    list-style: none;
    padding:5px;
}
.social-icons img{
    width:30px;
    height:30px;
    border-radius: 50%;
}
.middle-content-container{    
    margin:10px;
    width:100%;    
}
#Home{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    padding-top:60px;
}
.middle-content-container .image-container img{
    width:400px;
}
.info-container h5{
    color:#fffa;
    margin:10px;    
    letter-spacing: 1.4px;
}
.info-container h3{
    color:#fffa;
    margin:10px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.info-container h1{
    color:#fff;
    margin:10px;
    letter-spacing: 1.4px;
}

.info-container h1 span{
    color: var(--background);
}

.btns-container .btn{
    width:90px;
    height:40px;
    margin:10px;
    border-radius: 10px;
    color:#fff;
    cursor: pointer;
    opacity: 0.7;
}

.btns-container .resume-btn{
    background-color: var(--background);
    border:1px solid var(--background);    
}

.btns-container .contact-btn{
    background-color: #294673;
    border:1px solid #294673;
}

.btns-container .resume-btn:hover{
    background-color: var(--background);
    border:1px solid var(--background);
    opacity: 1;
    color:#fff
}

.btns-container .contact-btn:hover{
    background-color: #294673;
    border:1px solid #294673;
    opacity: 1;
    color:#fff;
}
#About{
    padding-top:60px;
}
.about-container{
    margin:0px 8%;
}
.about-img-container img{
    width:75%;
    border-radius:30px;
}
.about-text-container h3{
    color: #fff;
}
.about-text-container h6{
    color:var(--background);
}
.about-text-container p{
    color:#fffa;
}
.stats-container{
    display: flex;
    column-gap: 20px;
    background-color: var(--background);
    border-radius: 40px;
    max-width: 600px;
    height: 80px;
    margin: 0 auto;
    z-index: 100;
    position: relative;
    box-shadow: 0px 0px 10px var(--background);
    align-items: center;
    justify-content: center;
}
.about-horizontal-line{
    width:100%;
    height:1px;
    background-color: #fffa;
    position: relative;
    top:40px;
}
.stat-container{
    width:30%;
    padding:10px;
}
.stat-container h4, .stat-container h6{
    text-align:center;
    color:var(--bg2);
    font-size:16px;
}
.stat-container .stat-value{    
    font-weight:600;
}
.vertical-stat-line{
    width: 2px;
    height: 80%;
    background-color: var(--bg2);
}
.timeline-title{
    color:var(--background);
}
.bg-timeline{
    background-color: var(--background);
}
.timeline-nodes time{
    color:#fff;
}

.portfolio-container{
    width:100%;
}

.portfolio-accordian-container{
    margin:20px 7%;
}

details{
    display: flex;    
    border-radius: 5px;
    overflow: hidden;
    padding:15px;
    margin-bottom: 20px;
}

.tech-skills,.projects{
    border-left:20px solid #FFC48B;
    background-color: #fff6ee;
}

.soft-skills,.certifications{
    border-left:20px solid #FFB3C0;
    background-color: #fff0f3;
}


/* Media Queries */
@media (max-width:935px){
    .middle-content-container .image-container img{
        width:250px;
    }
}